/* The box model consist of four main parts.
height and width : the dimensions of the content area
padding: the space between the content area and the borders
border: the thickness and style of the border separating the content from other elements
margins: The space between the border and the other elements of the page.  */
