/* This file was recieved as a plain text file named position without an extension. I also did not recieve the files position-relative, position
absolute or position fixed, so I combined them in this file and added a css extension. I have included the relavent code to save space and time.  */


/*Position-relative  */

.question {
  text-align: center;
  position: relative;
  top: 40px;
}

/* In this lesson, I learned how to use the relative value of the position feature to adjust the position of content relative to
its static position. This is done by adjusting the offset values of top, bottom, left and right.  */


/*Position-absolute*/

header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: absolute;
  width: 100%;
}

/* In this lesson I learned how to use the absolute value to place an image in a absolute position, where it is ignored by the rest of
the elements on the page. It will still scroll with the rest of the pages content.  */


/*Position-fixed*/


header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
}

.welcome {
  background-color: #DBE9EE;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 200px;
}


/* In this lesson I learned how to use the fixed value to "fix" content to a particular section of a webpage, regardless
of where a user scrolls on the webpage. This is often used in navigation bars.  */
