.grid {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  grid-template-columns: 100px 50% 200px;
  grid-template-rows: 40% 50% 50px;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}


/* In this lesson I learned how to create and adjust rows in CSS grid. Similar to creating columns, rows are created and adjusted
by the property grid-template-rows with each value representing a new row as well as the rows height.  */
