.grid {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  grid-template: 40% 50% 50px / 100px 50% 200px;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

/* In this lesson, I learned that the grid-template property can be used as shorthand for both the rows and columns in the grid.
The first set of values are the rows, followed by a slash, followed by the values for columnns.   */
